@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: lato;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupsleep-bg {
  position: fixed;
  display: flex;
    width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-bg {
  z-index: 999;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.popup {
  display: flex;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  height: 240px;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.popupsleep {
  gap: 20px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 600px;
  width: 400px;
}

.popupimg {
  width: 90%;
}

#nameInput {
  border-radius: 5px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
  width: 200px;
  height: 30px;
  text-align: center;
  margin-left: 20px;
  margin: 10px;
}

.numberInput {
  border-radius: 5px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
  width: 40px;
  height: 50px;
  text-align: center;
}

.inputslayout {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.div-selection {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.25);
}

#reward {
  display: flex;
  gap: 20px; /* Espaçamento entre as recompensas */
}

.reward1,
.reward2,
.reward3 {
  width: 90px;
  height: 120px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.rewardValue {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.claimRewards {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* img.coins-accountValue{
} */
.values {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.reward-account {
  width: 90px;
  height: 120px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.coins-accountValue {
  height: 40%;
  margin: 5px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
}

.new-activity,
.add-timer {
  color: white;
  border: none;
  background-color: rgba(101, 85, 143, 1);
  border-radius: 100px;
  width: 127px;
  height: 40px;
  cursor: pointer;
  margin: 40px;
  box-shadow: 0px 0px 0px 5px rgba(101, 85, 143, 0.25);
}

.container {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;

  width: 310px;
  height: 90px;
  background-color: rgba(217, 217, 217, 1);
  margin: 20px;
  border-radius: 11px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 40px solid var(--border-color, red); /* Cor do canto */
  border-left: 40px solid transparent;
  border-top-right-radius: 10px;
}
